@font-face {
  font-family: "avenirBlack";
  src: url("../Test-2021/fonts/avenir_ff/AvenirLTStd-Black.otf");
}
@font-face {
  font-family: "avenirBook";
  src: url("../Test-2021/fonts/avenir_ff/AvenirLTStd-Book.otf");
}
@font-face {
  font-family: "avenirRoman";
  src: url("../Test-2021/fonts/avenir_ff/AvenirLTStd-Roman.otf");
}
