$blue: #013a6f;
$lblue: #2b5382;
$grey: #464646;
$yellow: #ffcc33;
$mostard: #7a631f;
$white: #ffffff;
$black: #000000;

$font-avenir-black: "avenirBlack";
$font-avenir-book: "avenirBook";
$font-avenir-roman: "avenirRoman";

// Break points
$tablet-break: 479px;
$desktop-break: 959px;
$mid-break: 767px;
$wide-break: 960px;
